
<div class="background">
<article>  
    <h1>About us </h1>
    <p>ElbiDeals is a coupon marketing site,
        On our site you can see and purchase coupons from a variety of large companies
        And small businesses in the country.</p>
        <hr class="sep-1"/>
    <p>The site was founded and developed by Matan Elbaz in 2020,
        The main purpose of the site is to show my software development skills.
        With this system, I hope to have more opportunities to continue to create software that will help people manage their lives more easily and conveniently!</p>
    <hr class="sep-2" />
    <h3>A little about me:</h3>
    <p>My name is Matan Elbaz, I'm 23 years old from Jerusalem, Israel. <br>
        I am a JAVA software developer, studied at John Bryce College <br>
        And since I started I haven't left the keyboard for too long :)</p>
        <img  src="./assets/images/logo.png" alt="ElbiDeals" >
        <p>Have fun!</p>
       </article>
    </div>