<section>

    <aside>
        <ul>
        <div class="sidenav">
            <li><a routerLink="/customer/update" routerLinkActive="active-link">Edit My Profile</a></li>
            <li><a routerLink="/customer/coupons" routerLinkActive="active-link">My Coupons</a></li>
            <li><a routerLink="/contact" routerLinkActive="active-link">Need Help?</a></li>
        </div>
        </ul>
            
        
    </aside>



    <main>
        
        <app-deals></app-deals>
       
    </main>


</section>
