
<section>

<aside>
  <ul>
  <div class="sidenav">
    <li><a routerLink="/admin/update" routerLinkActive="active-link">Edit My Profile</a></li>
    <li><a routerLink="/admin/add-coupon" routerLinkActive="active-link">Add Coupon</a></li>
    <li><a routerLink="/admin/add-company" routerLinkActive="active-link">Add Company</a></li>
    <li><a routerLink="/admin/add-customer" routerLinkActive="active-link">Add Customer</a></li>
  </div>
  
</ul>
</aside>



<main>
  <app-admin-coupons></app-admin-coupons>
</main>


</section>
