section {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  background-color: rgba(207, 94, 94, 0.404);
  text-align: center;
  
  /* box-sizing: border-box; */
  /* display: grid; */
  /* grid-template-rows: 20% 80%;
  grid-template-columns: repeat(12, 1fr); */
}

/* aside { */
  /* grid-column: span 1; */
  /* border: 1px solid black; */
  /* height: 40px;
  bottom: 10px;
  top: 0;
  left: 0;
  background-color: rgba(221, 221, 221, 0);
  overflow-x: hidden; */
  /* padding-top: 2px;  */
   
/* } */

/* Style the sidenav links and the dropdown button */
/* .sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 23px;
  color: #030303;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
} */

/* On mouse-over */
/* .sidenav a:hover, .dropdown-btn:hover {
  color: rgb(29, 185, 55);
}
.dropdown-btn:hover {
  
  color: #f1f1f1;
} */
/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: rgb(0, 0, 0);
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
/* .dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
} */

/* Optional: Style the caret down icon */
/* .fa-caret-down {
  float: right;
  padding-right: 8px;
} */



  /* background-color: rgba(207, 94, 94, 0.404); */
  /* grid-column: span 10; */

ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  
}

li {
  float: left;
  
}

li a {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(0, 0, 0);
  align-self: start;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}

